name: Build

on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - main

jobs:
  polyglot-monorepo-stack:
    name: CI/CD
    uses: abinnovision/actions/.github/workflows/workflow.yaml@polyglot-monorepo-stack-v1
    with:
      # Publishing configuration
      enable-package-publishing: true
      enable-packages-registry-npm: true
      enable-packages-registry-ghpr: true

      run-build-before-check: true

      # There are no tests currently
      test-types: ""
    secrets: inherit
